flask>=0.12.3         #web framework
arrow            #date/datetime/timezone library
arnold          #migration management
nose==1.3.0             #test runner
flask-sqlalchemy
Flask-WTF
marshmallow
