h1, h2 {
    font-family: 'Roboto', 'sans-serif';
}

.page-header {
    border-bottom: 1px dashed #cbcbcb;
}

ul, li {
    list-style-type: none;
}


.col-centered {
    float: none;
    margin: 0 auto;
}

.main-section {
    padding-top: 44px;
}

.navbar-default {
    background-color: #63CDA9;
    border-color: #63CDA9;
}

.logo-middle {
    color: #CA5D38;
    font-family: 'Titillium Web', 'sans-serif';
    font-weight: bold;
}