h1, h2 {
    font-family: 'Roboto', 'sans-serif';
}

.page-header {
    border-bottom: 1px dashed #cbcbcb;
}

ul, li {
    list-style-type: none;
}

.label {
    border-radius: 0px;
}

.modal-content {
    border-radius: 2px;
    box-shadow: none;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-title {
    border-bottom: 1px solid;
    padding-bottom: 4px;
}

.btn {
    border-radius: 0px;
}

.btn:hover, a:hover {
    text-decoration: none;
}

.font-white {
    color: white;
}

#new-book {
    color: #808080;
    padding-left: 0px;
}

#new-book:hover {
    color: lightgrey;
}

.font-black {
    color: black;
}

.float-right {
    float: right;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.main-section {
    padding-top: 44px;
}

.post-type {
    margin-right: 4px;
    color: white;
}

.navbar-default {

}

#img_url {
    width: 100%;
}

.post-options > i {
    font-size: 26px;
}

#edition {
    width: 110px;
}

.logo-middle {
    color: #CA5D38;
    font-family: 'Titillium Web', 'sans-serif';
    font-weight: bold;
    font-size: 36px;
}

.logo-middle:hover {
    color: #63CDA9;
}

form input[type=text],
form input[type=password],
form input[type=submit] {
    font-family: "Open Sans", "Proxima Nova Soft", proxima-nova-soft, "PT SANS", "Helvetica Neue", Helvetica, sans-serif;
}

form input[type=text],
form input[type=password],
form textarea {
    width: 270px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    background: #fff;
    border: 1px solid #a9a9a9;
    outline: none;
}

form input[type=text]:focus, form textarea:focus {
    border: 1px solid #000;
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

form textarea {
    width: 828px;
    min-height: 165px;
    resize: none;
}

form input[type=submit] {
    padding: 14px 31px;
    background: #76b294;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-top: -.7em;
    border: 0;
}

.generic-form-holder > form {
    padding-top: 30px;
}

.generic-form-holder {
    padding-left: 10px;
}

select {
    border-radius: 0px;
    width: 300px !important;
}

#price {
    width: 120px;
}

#condition_description {
    width: 317px;
}

/* List Items*/
.grid {
    padding: 20px 54px 8px 2px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    width: 260px;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
    height: 300px;
    width: 100%;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 16px 3px 18px;
    background: #2c3f52;
    color: #ed4e6e;

}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}

@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }

    .grid li {
        width: 100%;
        min-width: 300px;
    }
}

.cs-style-2 figure img {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;

}

.cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
    -webkit-transform: translateY(-90px);
    -moz-transform: translateY(-90px);
    -ms-transform: translateY(-90px);
    transform: translateY(-90px);
}

.cs-style-2 figcaption {
    height: 90px;
    width: 100%;
    top: auto;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cs-style-2 figcaption a {
    position: absolute;
    right: 20px;
    top: 30px;
}

.post-options-list {
    padding-top: 10px;
    padding-left: 0px;
}

.post-options-list li {
    padding: 0px;
    display: inline;
    padding-right: 19px;
}
