{% extends 'layouts/main.html' %}
{% block title %}Create Post{% endblock %}

{% block content %}

    <div class="col-centered generic-form-holder">
        <h1 class="">Create a new posting</h1>
        <form method="POST" action="/create/posting">
            <div class="form-group">
                <label class="form-label">{{ form.title.label }}</label>
                 <br>
                {{ form.title(placeholder="Enter a title") }}
            </div>
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail1">  {{ form.description.label }}</label>
                <br>
                {{ form.description() }}
            </div>
            <br>
            <div class="form-group">
               <select id="taxList"></select>
            </div>
            <input class="float-right" type="submit" value="Save Posting">
        </form>
    </div>

{% endblock %}