{% extends 'layouts/main.html' %}
{% block title %}Create Post{% endblock %}

{% block content %}

    <div class="col-centered generic-form-holder">
        <h1 class="">Create a new posting</h1>

        <form method="POST" action="/create/posting" id="posting-form">

            {{ form.csrf_token }}
            <div class="form-group">
                <label class="form-label">{{ form.price.label }}</label>
                <br>
                {{ form.price(placeholder="Enter a price") }}
            </div>
            <div class="form-group">
                <label class="form-label">{{ form.condition_description.label }}</label>
                <br>
                {{ form.condition_description(placeholder="Enter a Condition Description") }}
            </div>
            <div class="form-group">
                <label class="form-label" for="exampleInputEmail1">  {{ form.description.label }}</label>
                <br>
                {{ form.description() }}
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">Select Book Title</label>
                <br>
                <select class="form-control" id="bookList"></select>
            </div>
             <div class="form-group">
                <label class="form-label">Select Book Condition</label>
                <br>
                {{ form.book_condition(class="form-control") }}
            </div>
            <input class="float-right" id="save-posting" type="submit" value="Save Posting">
        </form>
    </div>

{% endblock %}