{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/css/button.css" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}

    <div class="col-md-12 col-centered ">
        <div class="col-md-12">
            <ul class="list-inline float-right main-options">
                <li>
                    <a href="{{ url_for("create_posting") }}" type="button" class="btn btn-link">
                        Add Post
                    </a>
                </li>
                <li>
                    <a href="#" type="button" class="btn btn-link">
                        Add Request
                    </a>
                </li>
            </ul>
        </div>
        <br>
        <section>
            <ul class="grid cs-style-2">
                {% for post in posts %}
                <li>
                    <figure>
                        <img src="{{ post.item.img_url }}" alt="img01">
                        <figcaption>
                            <h3>$ {{ post.price}}</h3>
                            <span class="post-type">{{ post.item.title | title }}</span>
                            <span class="label label-primary ">{{ post.type }}</span>
                        </figcaption>
                    </figure>
                    <ul class="post-options-list">
                        <li>
                            <a href="#" id="delete-{{ post.id }}" class="post-options">
                                <i class="icon ion-ios7-trash-outline"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="view" class="post-options">
                                <i class="icon ion-ios7-eye-outline"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                 {% endfor %}
                <!-- ... -->
            </ul>
        </section>
    </div>

{% endblock %}