{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/static/css/button.css" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}

    <div class="col-md-12 col-centered ">
         <div class="col-md-12">
                <ul class="list-inline float-right main-options">
                    <li>
                        <a href="{{ url_for("create_posting") }}" type="button" class="btn btn-link">
                        Add Post
                        </a>
                    </li>
                    <li>
                        <a href="#" type="button" class="btn btn-link">
                        Add Request
                        </a>
                    </li>
                </ul>
            </div>
    </div>

{% endblock %}